* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.5;
  }
  
  .logo {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: black 0.1em 0.1em 0.2em
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 964px;
    padding: 0px 70px 0px 70px;
    
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 2px;
    margin-left: 50px;
  }
  
  .nav-list li:hover span {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.logo {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative; 
}

.logo + p {
    font-family: Helvetica, Arial, sans-serif;
    position: absolute;
    top: 510px; 
    left: 250px; 
    color: #7a7a7a;
    letter-spacing: 5px;
    font-size: 12px;
    text-shadow: black 0.1em 0.1em 0.2em
}

@media screen and (max-width: 430px) {
  nav {
      flex-direction: column;
      padding: 30px;
      height: 91vh;
  }

  .logo {
      font-size: 30px;
  }

  .logo + p {
      position: static;
      margin-top: 10px;
      text-align: center;
      font-size: 10px;
  }

  .nav-list {
      flex-direction: column;
      align-items: center;
  }

  .nav-list li {
      margin: 10px 0;
      text-align: center;
  }
}