body {
  color: #333333;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.carrinho {
  background: url(../img/carmarket.png) no-repeat top right;
  font-size: 14px;
  padding-right: 35px;
  text-align: right;
  width: 140px;
  position: absolute;
  padding-top: 8px;
  top: 0;
  right: 0;
  background-size: contain;

}

.menu-opcoes ul {
  font-size: 15px;
}

.menu-opcoes a {
  color: #003366;
}

.menu-opcoes ul li {
  display: inline;
  margin-left: 20px;
}

.menu-opcoes {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.container {
  margin: 0 auto;
  width: 940px;
  position: relative;
}

.imgLogo {
  width: 10%;
  height: 10%;
}

.busca,
.menu-conteúdo {
  background-color: #dcdcdc;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
  width: 230px;
  float: left;
}

.busca h2,
.busca form,
.menu-conteudo h2 {
  margin: 10px;
}

.menu-conteudo li {
  background-color: white;
  margin-bottom: 1px;
  padding: 5px 10px;
}

.menu-conteudo a {
  color: #333333;
  text-decoration: none;
}

.menu-conteudo {
  clear: left;
}

.busca input {
  vertical-align: middle;
}

.busca input[type=search] {
  width: 170px;
}

.destaque {
  margin-top: 10px;
}

.menu-conteudo {
  margin-top: 10px;
  padding-bottom: 10px;
}

.imgBusca {
  width: 10%;
  height: 10%;
  padding: 5px;
}

.painel {
  margin: 10px 0;
  padding: 10px;
  width: 445px;
}

.aula1 {
  float: left;
  background-color: #f5dcdc;
  width: 47%;
}

.aula2 {
  float: right;
  background-color: #dcdcf5;
  width: 47%;
}

.painel li {
  display: inline-block;
  vertical-align: top;
  width: 140px;
  margin: 2px;
  padding-bottom: 10px;
}

.painel h2 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom:
    10px;
}

.painel a {
  color: #333;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

.imgEx1 {
  width: 100%;
  height: 100%;
}

.imgEx2 {
  width: 100%;
  height: 100%;
}

.imgEx3 {
  width: 100%;
  height: 100%;
}

.imgEx4 {
  width: 100%;
  height: 100%;
}

header {
  position: relative;
  height: 20%;
  border: 2px solid;
}